!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %title Ruby Australia
    %meta{name: 'description', content: 'Ruby Australia'}
    %meta{name: 'keywords', content: 'ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events'}
    %meta{name: 'viewport', content: 'width=device-width'}

    %link{rel: 'stylesheet', href: 'css/screen.css'}
    %script{src: 'js/modernizr.min.js'}
  %body
    %header
      %h1 Ruby Australia
      %p#mission-statement.h2
        The founding purpose of Ruby Australia is to further the use and adoption of
        the Ruby programming language in Australia, and to support and encourage a
        vibrant community around the language and related technologies.

    %nav{role: 'navigation'} 
      %ul
        %li
          %a{href: '/committee-members.html'} Committee Members
          %a{href: '/#meetups'} Meetups
          %a{href: '/#railscamp'} Railscamp
          
    = yield
    
    %footer
      &copy; 2012 Ruby Australia
