!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %title Ruby Australia
    %meta{name: 'description', content: 'Ruby Australia'}
    %meta{name: 'keywords', content: 'ruby, rails, australia, melbourne, sydney, canberra, perth, central coast, brisbane, perth, western australia, sa, south australia, victoria, new south wales, nsw, vic, qld, queensland, wa, can, programming, meetup, group, user group, conferences, events'}
    %meta{name: 'viewport', content: 'width=device-width'}

    %link{rel: 'stylesheet', href: 'css/style.css'}
    %script{src: 'js/modernizr-2.5.3.min.js'}
  %body
    %header
      %h1 Ruby Australia
    %nav{role: 'navigation'} 
      %ul
        %li
          %a{href: '/committee-members.html'} Committee Members
          
    = yield
    
    %footer
      &copy; 2012 Ruby Australia