/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
[hidden] {
  display: none;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
figure {
  margin: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
body {
  margin: 0;
}

/* line 40, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
a:focus {
  outline: thin dotted;
}

/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
b,
strong {
  font-weight: bold;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
blockquote {
  margin: 1em 40px;
}

/* line 109, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dfn {
  font-style: italic;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 123, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
p,
pre {
  margin: 1em 0;
}

/* line 133, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 141, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 152, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
q {
  quotes: none;
}

/* line 159, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 164, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
small {
  font-size: 75%;
}

/* line 172, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 179, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sup {
  top: -0.5em;
}

/* line 183, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sub {
  bottom: -0.25em;
}

/* line 197, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 201, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 209, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 216, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 230, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 237, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 248, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
form {
  margin: 0;
}

/* line 13, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input {
  line-height: normal;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 98, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 106, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 15, ../../stylesheets/screen.scss */
body {
  max-width: 960px;
  margin: 100px auto 0 auto;
  color: #333333;
  font-family: "Heilvetica", "Helvetica Neue", "Helvetica", "Arial";
  line-height: 1.5em;
}

/* Header levels */
/* line 25, ../../stylesheets/screen.scss */
h2, .h2 {
  width: 610px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
  overflow: hidden;
  *zoom: 1;
  font-size: 1em;
}

/* line 30, ../../stylesheets/screen.scss */
h3 {
  color: #ee3a37;
  margin: 0;
}

/* line 31, ../../stylesheets/screen.scss */
h3 + p {
  margin-top: 0.5em;
}

/* Global layout */
@media screen and (max-width: 1000px) {
  /* line 35, ../../stylesheets/screen.scss */
  header[role='banner'] {
    float: left;
    margin-right: 1em;
  }
}
/* line 38, ../../stylesheets/screen.scss */
header[role='banner'] .logo {
  width: 300px;
  margin-left: 20px;
  float: left;
  clear: both;
  overflow: hidden;
  *zoom: 1;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('/images/ruby-australia-logo.png?1340529023');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 124px;
  height: 129px;
}

/* line 46, ../../stylesheets/screen.scss */
#meta {
  width: 300px;
  margin-left: 20px;
  float: left;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 1000px) {
  /* line 46, ../../stylesheets/screen.scss */
  #meta {
    clear: none;
  }
}

/* line 52, ../../stylesheets/screen.scss */
nav ul {
  padding-left: 0;
}
/* line 54, ../../stylesheets/screen.scss */
nav * {
  display: block;
}

/* line 59, ../../stylesheets/screen.scss */
[role='main'] {
  width: 610px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 1000px) {
  /* line 59, ../../stylesheets/screen.scss */
  [role='main'] {
    float: none;
    margin: 0 17px;
    width: 90%;
  }
}
/* line 63, ../../stylesheets/screen.scss */
[role='main'] section {
  margin-bottom: 5em;
}

/* line 66, ../../stylesheets/screen.scss */
.meetup-locations {
  margin: 0;
  padding: 0;
}
/* line 69, ../../stylesheets/screen.scss */
.meetup-locations li {
  display: block;
}

/* Index page */
/* line 74, ../../stylesheets/screen.scss */
#mission-statement {
  font-size: 150%;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 2em;
}
@media screen and (max-width: 760px) {
  /* line 74, ../../stylesheets/screen.scss */
  #mission-statement {
    font-weight: normal;
    font-size: 1.1em;
  }
}

/* Committee members page */
/* line 83, ../../stylesheets/screen.scss */
#members article {
  border-bottom: 1px solid #999;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}
/* line 85, ../../stylesheets/screen.scss */
#members article:last-child {
  border: 0;
}
/* line 90, ../../stylesheets/screen.scss */
#members article img {
  float: right;
  width: 150px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 95, ../../stylesheets/screen.scss */
#members article header, #members article div {
  margin-right: 160px;
}
/* line 98, ../../stylesheets/screen.scss */
#members article h3, #members article p {
  margin-top: 0;
}
/* line 100, ../../stylesheets/screen.scss */
#members article .position {
  font-size: 0.9em;
  font-style: italic;
  color: #777;
}
/* line 102, ../../stylesheets/screen.scss */
#members article h3 {
  font-size: 1.25em;
  margin-bottom: 0.2em;
}

/* line 109, ../../stylesheets/screen.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 114, ../../stylesheets/screen.scss */
fieldset {
  border: none;
  padding: 0 0 1.5em 0;
}

/* line 119, ../../stylesheets/screen.scss */
label {
  display: inline-block;
  float: left;
  clear: both;
  width: 150px;
  margin-right: 10px;
}

/* line 127, ../../stylesheets/screen.scss */
input {
  margin-bottom: 0.5em;
  width: 300px;
}

/* line 133, ../../stylesheets/screen.scss */
footer[role="contentinfo"] {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  padding: 2em 0;
}
/* line 139, ../../stylesheets/screen.scss */
footer[role="contentinfo"] small {
  width: 920px;
  margin-left: 10px;
  margin-right: 10px;
  clear: both;
  float: left;
  font-size: 0.7em;
  color: #999;
}
