/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* line 18, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 35, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 43, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
[hidden] {
  display: none;
}

/* line 53, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/html5.scss */
figure {
  margin: 0;
}

/* line 10, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 22, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 28, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
body {
  margin: 0;
}

/* line 40, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
a:focus {
  outline: thin dotted;
}

/* line 48, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 60, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 65, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 70, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 75, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 80, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 85, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 92, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
b,
strong {
  font-weight: bold;
}

/* line 103, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
blockquote {
  margin: 1em 40px;
}

/* line 109, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dfn {
  font-style: italic;
}

/* line 115, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 123, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
p,
pre {
  margin: 1em 0;
}

/* line 133, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 141, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 152, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
q {
  quotes: none;
}

/* line 159, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 164, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
small {
  font-size: 75%;
}

/* line 172, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 179, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sup {
  top: -0.5em;
}

/* line 183, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
sub {
  bottom: -0.25em;
}

/* line 197, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 201, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 209, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 216, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 230, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 237, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 248, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
form {
  margin: 0;
}

/* line 13, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 23, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 37, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 47, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input {
  line-height: normal;
}

/* line 59, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 68, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 78, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 88, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 98, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 106, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 114, /Users/keithpitty/.rvm/gems/ruby-1.9.3-p125@ruby.org.au/gems/compass-normalize-1.1.1/stylesheets/normalize/forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 35, ../../stylesheets/screen.scss */
body {
  width: 960px;
  margin: 100px auto 0 auto;
  color: #333333;
}

/* line 42, ../../stylesheets/screen.scss */
body * {
  font-family: "Heilvetica", "Helvetica Neue", "Helvetica", "Arial";
  line-height: 1.5em;
}

/* line 47, ../../stylesheets/screen.scss */
header {
  overflow: hidden;
  *zoom: 1;
}

/* line 51, ../../stylesheets/screen.scss */
h1, .h1 {
  width: 300px;
  margin-left: 20px;
  float: left;
  clear: both;
  overflow: hidden;
  *zoom: 1;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/ruby-australia-logo.png?1333540722');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 124px;
  height: 129px;
}

/* line 58, ../../stylesheets/screen.scss */
h2, .h2 {
  width: 610px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
  overflow: hidden;
  *zoom: 1;
  font-size: 1em;
}

/* line 63, ../../stylesheets/screen.scss */
#meta {
  width: 300px;
  margin-left: 20px;
  float: left;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 68, ../../stylesheets/screen.scss */
nav ul {
  padding-left: 0;
}
/* line 70, ../../stylesheets/screen.scss */
nav * {
  display: block;
}

/* line 75, ../../stylesheets/screen.scss */
section {
  width: 610px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
  overflow: hidden;
  *zoom: 1;
}

/* line 79, ../../stylesheets/screen.scss */
#meetups a {
  display: block;
}

/* line 83, ../../stylesheets/screen.scss */
footer {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  background-color: grey;
}
/* line 87, ../../stylesheets/screen.scss */
footer p {
  text-align: right;
  width: 920px;
  margin-left: 10px;
  margin-right: 10px;
  clear: both;
  float: left;
}

/* line 94, ../../stylesheets/screen.scss */
#members article {
  border-bottom: 1px solid #999;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}
/* line 99, ../../stylesheets/screen.scss */
#members article img {
  float: right;
  width: 150px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 104, ../../stylesheets/screen.scss */
#members article header, #members article div {
  margin-right: 160px;
}
/* line 107, ../../stylesheets/screen.scss */
#members article h3, #members article p {
  margin-top: 0;
}
/* line 108, ../../stylesheets/screen.scss */
#members article h3 {
  font-size: 1.25em;
  margin-bottom: 0.2em;
}

/* line 115, ../../stylesheets/screen.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 120, ../../stylesheets/screen.scss */
fieldset {
  border: none;
  padding: 0 0 1.5em 0;
}

/* line 125, ../../stylesheets/screen.scss */
label {
  display: inline-block;
  float: left;
  clear: both;
  width: 150px;
  margin-right: 10px;
}

/* line 133, ../../stylesheets/screen.scss */
input {
  margin-bottom: 0.5em;
  width: 300px;
}
