%section
  %h3 Melbourne Ruby
  %h4 Meeting Notes &mdash; April 2012

  %article
    %h4 Presentations:

    %ul
      %li Gareth Townsend: Testing Strategy
      %li Justin Morris: Style Guides

  %article
    %h4 Analogue Blogue

    %ul
      %li <a href="http://railsconf2012.com">RailsConf</a> is happening right now.
      %li <a href="http://railscamps.com/#goldcoast_jun_2012">Rails Camp 11</a> sold out - 30 more tickets on Monday at 10am
      %li <a href="http://gembundler.com">Bundler</a> 1.1 is heaps faster!
      %li Kickstarter: <a href="http://www.kickstarter.com/projects/1397300529/railsapp">Rails.app</a> - Yehuda Katz
      %li <a href="http://ruby.org.au">Ruby Australia</a> website is live! With a shiny logo and everything!

  %article
    %h4 Jobs

    %ul
      %li <a href="https://groups.google.com/forum/?fromgroups#!topic/rails-oceania/51yI3DEL_w8">Simon Waite</a> from Dimension 27 needs clever people: Rails and Backbone/Ember.js roles - contract, permanent, permanent part-time all welcome.
      %li <a href="https://groups.google.com/forum/?fromgroups#!topic/rails-oceania/YFymtwnkY8Q">Nicola Gracie</a> from FitIntegrate needs a tech co-founder, with a focus on Ruby and Backbone/Ember.js.
      %li <a href="http://envato.com">Justin French</a> from Envato is looking for people to fill Ruby and Dev Manager roles
