%section
  %h3 Melbourne Ruby
  %h4 Meeting Notes &mdash; May 2012
  
  %article
    %h4 Sponsors
    %p Thank you to <a href="http://inspire9.com.au">Inspire9</a> for generously providing us with the venue, the drinks and the pizza!
  
  %article
    %h4 News &amp; Events
    %ul
      %li Ruby Motion
      %li Daniel Neighman (@hassox) acquired by Square
      %li RailsCamp Gold Coast is coming up soon
  
  %article
    %h4 Who's Hiring, who's looking
    %ul
      %li Dimension27 is hiring (rohan at rohanmitchell.com)
      %li <a href="http://techjobs.envato.com">Envato is hiring</a>
      %li Sitepoint group is hiring (jobs at learnable.com, possibly a made-up email addresss)
  
  %article
    %h4 Presentations:
    %ul
      %li Donny Kurniawan: Ruby Development on your iPad

  %article
    %h4 Lightning Talks
    %ul
      %li Chris Berkhout
      %li James Healy
      %li Chendo
      %li Tobias Cohen
      %li David Goodlad
      %li Justin French
      %li Some other awesome people I didn't write down the names of sorry!

