/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography/text/replacement";

@mixin left-column {
    width: 300px;
    margin-left: 20px;
    float: left;
    clear: both;
    @include clearfix;
}

@mixin right-column {
    width: 610px;
    margin-left: 10px;
    margin-right: 20px;
    float: right;
    @include clearfix;
}

@mixin both-columns {
    width: 920px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    float: left;
}

body {
    width: 960px;
    margin: 100px auto 0 auto;

    color: #333333;
}

body * {
    font-family: "Heilvetica", "Helvetica Neue", "Helvetica", "Arial";
    line-height: 1.5em;
}

header {
  @include clearfix;
}

h1, .h1 {
    @include left-column;
    @include replace-text("ruby-australia-logo.png");
    width: 124px;
    height: 129px;
}

h2, .h2 {
    @include right-column;
    font-size: 1em;
}

#meta {
    @include left-column;
}

nav {
    ul { padding-left: 0; }

    * {
        display: block;
    }
}

section {
    @include right-column;
}

#meetups a {
  display: block;
}

footer {
    @include both-columns;
    margin-top: 2em;
    background-color: palegoldenrod;
}
