%section#association
  %header
    %h1 Association

  %article
    %header
      %h3 Special General Meeting Minutes
      %ul
        %li
          %a{href: '/sgm/2012-06-16'} SGM June 16 2012 (@Rails Camp 11)

