%section#members
  %header
    %h1 Committee Members

  %article
    %img{src: '/images/committee-members/nigel-avatar.jpg'}
    %header
      %h3 Nigel Rausch
      %p.position President
    %div.bio
      %p Nigel has a strong community spirit and is heavily involved organising Brisbane’s Ruby, Javascript and WorkAtJelly meetups as well as mentoring friends and ex-colleagues in their business ventures.
      %p He is proud to be part of the Ruby Australia Association and is excited how it will make Ruby more visible to the wider community and to the Enterprise.
    %div.contact
      %a{href: 'http://twitter.com/NR99'} @NR99
      %a{href: 'http://www.linkedin.com/in/nigelrausch'} Linkedin

  %article
    %img{src: '/images/committee-members/martin-stannard.jpg'}
    %header
      %h3 Martin Stannard
      %p.position Vice President
    %div.bio
      %p Martin discovered Ruby in 2003 and his affair with it continues to this day. When not riding his bike  he can be found as Team Lead at Blake eLearning, a company dedicated to helping children improve their literacy and numeracy skills.

    %div.contact
      %a{href: 'http://twitter.com/_martinS_'} @_martinS_

  %article
    %img{src: '/images/committee-members/sebastian-avatar.jpg'}
    %header
      %h3 Sebastian von Conrad
      %p.position Treasurer
    %div.bio
      %p After growing up in Sweden, Sebastian escaped to the US in 2007 and moved down under in 2009. He now lives in Adelaide with his partner and two fur children, and works as the software development manager at <a href="http://www.echannelsearch.com">e-channel search</a>. He is also a certified baseball nut. Having organised Railscamp X, he is excited to continue working with the Australian Ruby community.
    %div.contact
      %a{href: 'http://twitter.com/vonconrad'} @vonconrad
      %a{href: 'http://au.linkedin.com/in/vonconrad'} LinkedIn
      %a{href: 'https://github.com/vonconrad'} Github

  %article
    %img{src: '/images/committee-members/warren-seen.jpg'}
    %header
      %h3 Warren Seen
      %p.position General Member
    %div.bio
      %p Bio coming soon

    %div.contact
      %a{href: 'http://twitter.com/warren_s'} @warren_s

  %article
    %img{src: '/images/committee-members/david-goodlad.jpg'}
    %header
      %h3 David Goodlad
      %p.position General Member
    %div.bio
      %p A native of Canada, David now lives in Melbourne and is an active member of the local Ruby community. He enjoys both attending and speaking at Ruby-related events, having presented talks at RailsConf Europe 2006 in London, and at RubyConf 2008 in Orlando.
      %p David is part of the development team behind the <a href="http://www.envato.com/">Envato</a> marketplaces, building and maintaining one of the longest-running public Ruby on Rails-based apps in Australia.

    %div.contact
      %a{href: 'http://twitter.com/dgoodlad'} @dgoodlad
      %a{href: 'http://github.com/dgoodlad'} Github
      %a{href: 'http://d.goodlad.net'} David's Blog

  %article
    %a{href: '/previous-committee-members.html'} Previous Committee Members
