%section#members
  %header
    %h2 Committee Members
  
  %article
    %img{src: '/images/committee-members/keith-avatar.jpg'}
    %header
      %h3 Keith Pitty
      %p.position President
    %div.bio
      %p Keith joined the IT industry in 1983 after graduating from the University of Sydney with a Bachelor of Science including majors in Applied Mathematics and Computer Science.

      %p He has accumulated technical experience on a diverse range of platforms and his various roles have covered the full life-cycle of software development. He has successfully led and contributed to teams that have delivered applications to corporate and government organisations in Australia and the United Kingdom. 

      %p In late 2007, after working with Java since the turn of the century, Keith started Cockatoo Software Pty Ltd to provide services in Agile development with Ruby on Rails. Prior to founding Cockatoo Software, Keith was a Senior Consultant with Cirrus Technologies from 2000 to 2007. During the 1980s and 1990s Keith provided services to companies including Qantas, Woolworths, Westpac, IBM and TNT.

      %p An active member of the Australian Ruby community, Keith is a regular organiser of and presenter at meetings of the Sydney Ruby on Rails developer group. He was a lead organiser of Railscamp 9, held at Lake Ainsworth in June 2011. In January 2012 he was elected as the founding President of Ruby Australia. A compulsive organiser, Keith has committed to ensuring that the inaugural Australian Ruby Conference becomes a reality.

      %p Not to be confused with another Australian Ruby developer who shares his first name and the first four letters of his surname, Keith is sometimes known as "Bearded Keith" or, more recently, "El Presidente". Away from computers, he loves sport, especially cricket, golf and Australian Rules football. Oh, and single malt whisky.
    %div.contact
      %a{href: 'http://twitter.com/keithpitty'} @keithpitty
  
  %article
    %img{src: '/images/committee-members/ben-avatar.jpg'}
    %header
      %h3 Ben Schwarz
      %p.position General Member
    %div.bio
      %p Ben funds his love of good food (at home) and sake (in bars) by designing sophisticated web applications using standards-based technology. More than anything else, he is driven by a maniacal desire to produce not only elegant code, but also beautiful software in the hands of its users. He's also a committee member of Ruby Australia and joined the W3C CSS Working group as an 'invited expert' in December 2011. Otherwise, he runs <a href="http://theint.ro">The Intro</a>, which he runs to facilitate affordable, professional web focused events that would not exist otherwise. 
    %div.contact
      %a{href: 'http://twitter.com/benschwarz'} @benschwarz
      
  %article
    %img{src: '/images/committee-members/daniel-avatar.jpg'}
    %header
      %h3 Daniel Draper
      %p.position General Member
    %div.bio
      %p Dan is CEO of Rails dev shop, <a href="http://www.codefire.com/">Codefire</a> and has been working with Rails since 2006. He is actively involved in Adelaide.rb and the Ruby community at large. Dan is passionate about promoting software and web development as a career choice for younger people and about open source software in business.
    %div.contact
      %a{href: 'http://twitter.com/danieldraper'} @danieldraper
      %a{href: 'http://www.linkedin.com/in/ddraper'} Linkedin