%p#mission-statement
  The founding purpose of Ruby Australia is to further the use and adoption of
  the Ruby programming language in Australia, and to support and encourage a
  vibrant community around the language and related technologies.

%section#meetups
  %h3 Meetups
  %p
    There are a number of regional Ruby-related meetups all over the country.
    Each group is organised independently by its members, and all are very
    welcoming to newcomers. The following groups meet regularly:

  %ul.meetup-locations
    %li
      %a#adl{href: '/meetups/adl.html'} Adelaide
    %li
      %a#bne{href: '/meetups/bne.html'} Brisbane
    %li
      %a#can{href: '/meetups/can.html'} Canberra
    %li
      %a#mel{href: '/meetups/mel.html'} Melbourne
    %li
      %a#per{href: '/meetups/per.html'} Perth
    %li
      %a#syd{href: '/meetups/syd.html'} Sydney

%section#railscamp
  %h3 Rails Camp
  %p
    Ruby Australia is the organising body of Australian Rails Camp events.
    Please see the official <a href="http://railscamps.com">Rails Camp</a> site
    for more details.

%section#rubyconf-au
  %h3 RubyConf Australia
  %p
    Ruby Australia is the organising body of RubyConf Australia.
    Please see the official <a href="http://rubyconf.org.au">RubyConf AU</a> site
    for more details.

%section
  %h3 Join Ruby Australia
  %p
    Joining Ruby Australia is free. <a href="/join-ruby-australia.html">Join!</a>

%section
  %h3 Contributing to the site
  %p
    The site's source is hosted on Github:
    <a href="https://github.com/rails-oceania/ruby.org.au">https://github.com/rails-oceania/ruby.org.au</a>.  Please refer to the <a href="https://github.com/rails-oceania/ruby.org.au#readme">README</a> there for more details.
