%section#meetups
  %h3 Meetups
  %a#roro-mel{href: '/roro-mel.html'} RoRo Melbourne
  %a#roro-syd{href: '/roro-syd.html'} RoRo Sydney
  %a#roro-per{href: '/roro-per.html'} RoRo Perth
  %a#roro-can{href: '/roro-can.html'} RoRo Canberra
  %a#roro-bne{href: '/roro-bne.html'} RoRo Brisbane
  %a#roro-adl{href: '/roro-adl.html'} RoRo Adelaide
  
  %a{href: 'http://railscamps.com'} Rails camp 

%section
  %h3 Joining
  %p Joining Ruby Australia is free. You should do it!
  <a href="/join.html">Join!</a> 
  
  %h3 Contributing to the site
  %p
    The site's source is hosted on Github:
    <a href="https://github.com/rails-oceania/ruby.org.au">https://github.com/rails-oceania/ruby.org.au</a>.  Please refer to the <a href="https://github.com/rails-oceania/ruby.org.au#readme">README</a> there for more details.
