%section
  %h3 Adelaide Ruby

  %article
    %h4 Next Meetup
    %p TBA
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p Daniel Draper (<a href="http://twitter.com/danieldraper">@danieldraper</a>) and Michael Noack.

  %article
    %h4 Schedule
    %p To find out more about the Adelaide Ruby group, visit <a href="http://adelaiderb.com">adelaide.rb</a>.
