%section
  %h3 Brisbane

  %article
    %h4 Next Meetup
    %p TBA
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p Nigel Rausch (<a href="http://twitter.com/nr99">@nr99</a>), Nathan Hoad and Paul O'Keefe.

  %article
    %h4 Schedule
    %p For more details about Brisbane Ruby meetups, visit <a href="http://www.meetup.com/brisbane-ruby-rails/">The Brisbane Ruby and Rails Brigade</a>.

