%section
  %h3 Canberra

  %article
    %h4 Next Meetup
    %p TBA
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p Max Wheeler (<a href="http://twitter.com/makenosound">@makenosound</a>), Shoaib Burq (<a href="http://twitter.com/sabman">@sabman</a>), Hugh Evans (<a href="http://twitter.com/hughevans">@hughevans</a>), Michael MacDonald (<a href="http://twitter.com/schlick">@schlick</a>) and Jared Fraser (<a href="http://twitter.com/modsognir">@modsognir</a>).

  %article
    %h4 Schedule
    %p For more information about Canberra Ruby meetups, visit <a href="http://canberraruby.com/">the Canberra Ruby Crew</a>.
