%section
  %h3 Canberra

  %article
    %h4 Next Meetup
    %p 19th June 2012
    %p Presentations:
    %ul
      %li An introduction to Ruby Motion &mdash; Tim Riley (<a href="http://twitter.com/timriley">@timriley</a>)
      %li Custom Rails Responders &mdash; Hugh Evans (<a href="http://twitter.com/hughevans">@hughevans</a>)
      %li Open Floor, anyone and anything
    %p
      Please contact <a href="http://twitter.com/amasses">Matthew Savage</a> or <a href="http://twitter.com/hughevans">Hugh Evans</a> if you would like to volunteer to give a talk.

  %article
    %h4 Organisers
    %p Max Wheeler (<a href="http://twitter.com/makenosound">@makenosound</a>), Shoaib Burq (<a href="http://twitter.com/sabman">@sabman</a>), Hugh Evans (<a href="http://twitter.com/hughevans">@hughevans</a>), Michael MacDonald (<a href="http://twitter.com/schlick">@schlick</a>), Jared Fraser (<a href="http://twitter.com/modsognir">@modsognir</a>) and Matthew Savage (<a href="http://twitter.com/amasses">@amasses</a>).

  %article
    %h4 Schedule
    %p
      CRC Meets up on the third Tuesday of every second month. Meetings usually start at around 7pm, at the Duxton in O'Connor.
    %p For more information about Canberra Ruby meetups, visit <a href="http://canberraruby.com/">the Canberra Ruby Crew</a>.
