%section
  %h3 Melbourne Ruby

  %article
    %h4 Next Meeting
    %p Thursday 26th April, 2012, at <a href="http://g.co/maps/9ykba">Inspire9 – Level 1, 41-43 Stewart St, Richmond</a> 6:00pm for a 6:30pm start!
    %p Presentations:
    %ul
      %li Michael Pearson: Solving Packaging
      %li Glenn Gillen: Creating Heroku Add-ons
      %li <em>You?</em>
    %p See you there!

  %article
    %h4 Organisers
    %p Pat Allan (<a href="http://twitter.com/pat">@pat</a>) and Ben Hoskings (<a href="http://twitter.com/ben_h">@ben_h</a>).

  %article
    %h4 Schedule
    %p Melbourne Ruby meetings happen on the last Thursday of every month, with the exception of December (which has a social event sometime in the middle of the month).
