%section
  %h3 Melbourne Ruby
  
  %article
    %h4 Next Meeting
    %p
      Thursday 31st May 2012
      
  %article
    %h4 Where
    %p
      <a href="http://g.co/maps/9ykba">Inspire9</a><br>
      Level 1, 41-43 Stewart St<br>
      Richmond<br>
      6:00pm for a 6:30pm start!

  %article
    %h4 Organisers
    %p Justin French (<a href="http://twitter.com/justinfrench">@justinfrench</a>).
    
  %article
    %h4 Format
    %ul
      %li News &amp; events
      %li Who's hiring, who's available
      %li Lightning talks, tutorials and presentations on Ruby and related topics
      %li Dinner and drinks at the Corner Hotel
  
  %article
    %h4 Get Involved
    %p Chatter about upcoming meetings takes place on the <a href="https://groups.google.com/forum/?fromgroups#!forum/rails-oceania">Ruby or Rails Oceania</a> Google Group.
    %p Presenters, organisers and sponsors are always welcome.
  
  %article
    %h4 Schedule
    %p Melbourne Ruby meetings happen on the last Thursday of every month, with the exception of December (which has a social event sometime in the middle of the month). 
  
  %article
    %h4 Archived Meeting Notes
    %ul
      %li <a href="/meetups/mel/april-2012.html">April 2012</a>

    %p Previous meeting notes from the last several years are not recorded here, sadly. You may find them out in the internet if you're particularly keen.
