%section
  %h3 Melbourne Ruby
  
  %article
    %h4 When
    %p Melbourne Ruby meetings happen on the last Thursday of every month (with the exception of December which has a social event sometime in the middle of the month).
      
  %article
    %h4 Where
    %p
      <a href="http://g.co/maps/9ykba">Inspire9</a><br>
      Level 1, 41-43 Stewart St<br>
      Richmond<br>
      6:00pm for a 6:30pm start!

  %article
    %h4 Organisers
    %ul 
      %li Justin French (<a href="http://twitter.com/justinfrench">@justinfrench</a>)
      %li David Goodlad (<a href="http://twitter.com/dgoodlad">@dgoodlad</a>)
    
  %article
    %h4 Format
    %ul
      %li News &amp; events
      %li Who's hiring, who's available
      %li Lightning talks, tutorials and presentations on Ruby and related topics
      %li Dinner and drinks at the Corner Hotel
  
  %article
    %h4 Sponsors
    %ul
      %li Thanks to <a href="http://inspire9.com.au">Inspire9</a> for providing us with an awesome venue and drinks!
      %li Thanks to <a href="http://envato.com">Envato</a> for filling us with delicious pizza!
  
  %article
    %h4 Get Involved
    %p Chatter about upcoming meetings takes place on the <a href="https://groups.google.com/forum/?fromgroups#!forum/rails-oceania">Ruby or Rails Oceania</a> Google Group.
    %p Presenters, organisers and sponsors are always welcome, contact the organisers through the Google Group or on Twitter.
  
