%section
  %h3 Roro Sydney

  %article
    %h4 Next Meetup
    %p Tuesday 10 April, 2012, at <a href="http://tinyurl.com/6emfna">Trinity Bar – 505 Crown St, Surry Hills, NSW 2010</a> (upstairs) 6:30 for a 7pm start!
    %p Presentations:
    %ul
      %li TBA
    %p Lightning Talks:
    %ul
      %li TBA
    %p See you there!

  %article
    %h4 Organisers
    %p Steven Ringo (<a href="http://twitter.com/stevenringo">@stevenringo</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).