%section
  %h3 Melbourne Ruby

  %article
    %h4 Next Meeting
    %p Thursday 27th April, 2012, at <a href="http://g.co/maps/9ykba">Inspire9 – Level 1, 41-43 Stewart St, Richmond</a> 6:00pm for a 6:30pm start!
    %p Presentations:
    %ul
      %li TBA
    %p See you there!

  %article
    %h4 Organisers
    %p Ben Hoskings (<a href="http://twitter.com/ben_h">@ben_h</a>) and Pat Allan (<a href="http://twitter.com/pat">@pat</a>).
