%section
  %h3 Sydney Ruby

  %article
    %h4 Next Meetup
    :markdown
      #### Tuesday August 14 from 6:30 (for 7pm) @ [Trinity Bar](http://maps.google.com.au/maps/place?cid=12629933912907935072)

      #### Presentations (15min)

      * Ninefold Tech - Carl Woodward [@julio_ody](http://twitter.com/cjwoodward)
      * Your name here

      #### Lightning Talks (5min)

      * Your name here

  %article
    %h4 Organisers
    %p Mikel Lindsaar (<a href="http://twitter.com/lindsaar">@lindsaar</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).

  %article
    %h4 Schedule
    %p Sydney Ruby meetings happen on the second Tuesday of every month, with the occasional exception.
