%section
  %h3 Sydney Ruby

  %article
    %h4 Next Meetup
    :markdown
      #### Tuesday October 9 from 6:30 (for 7pm) at [Trinity Bar](http://maps.google.com.au/maps/place?cid=12629933912907935072)
      * Front-End Heavy: Testing with minimal Ruby / maximal JS - Rob Howard [@damncabbage](https://twitter.com/damncabbage)
      * AngularJS - James Sadler [@freshtonic](https://twitter.com/freshtonic)
      * XSS for fun and profit - Philip Muir [@philip2156](https://twitter.com/philip2156)
      * Michael Cindrić's talk on experiences with RubyMotion [@michaelcindric](https://twitter.com/michaelcindric)
      
  %article
    %h4 Organisers
    %p Steven Ringo (<a href="http://twitter.com/stevenringo">@stevenringo</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).

  %article
    %h4 Schedule
    %p Sydney Ruby meetings happen on the second Tuesday of every month, with the occasional exception.
