%section
  %h3 Sydney Ruby

  %article
    %h4 Next Meetup
    :markdown
      #### Tuesday May 8 from 6:30 (for 7pm) @ [Trinity Bar](http://maps.google.com.au/maps/place?cid=12629933912907935072)

      #### Presentations (15min)

      * Why I love CoffeeScript - Jo Cranford [@jocranford](http://twitter.com/jocranford)
      * Rails i18n tricks - Steve Ringo [@stevenringo](http://twitter.com/stevenringo)
      * Rails Conf Retrospective - Mikel Lindsaar [@lindsaar](http://twitter.com/lindsaar)

      #### Lightning Talks (5min)

      * Customising your ssh session - Richard Heycock [@filterfish](http://twitter.com/filterfish)
      * Your topic - you [@yourtwitter](http://twitter.com/yourtwitter)
      * Your topic - you [@yourtwitter](http://twitter.com/yourtwitter)

  %article
    %h4 Organisers
    %p Steven Ringo (<a href="http://twitter.com/stevenringo">@stevenringo</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).

  %article
    %h4 Schedule
    %p Sydney Ruby meetings happen on the second Tuesday of every month, with the occasional exception.
