%section
  %h3 Sydney Ruby

  %article
    %h4 Next Meetup
    :markdown
      #### Tuesday November 13 from 6:30 (for 7pm) at [Trinity Bar](http://maps.google.com.au/maps/place?cid=12629933912907935072)

      [What's on?](https://github.com/rails-oceania/roro/wiki/rorosyd-topics)

      If you'd like to give a talk, please [add your name to the list](https://github.com/rails-oceania/roro/wiki/rorosyd-topics)

  %article
    %h4 Organisers
    %p Steven Ringo (<a href="http://twitter.com/stevenringo">@stevenringo</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).

  %article
    %h4 Schedule
    %p Sydney Ruby meetings happen on the second Tuesday of every month, with the occasional exception.
