%section
  %h3 Sydney Ruby

  %article
    %h4 Next Meetup
    :markdown
      #### We meet [on the second Tuesday of every month][roro]

      #### 6:30 (for 7pm) at the [Trinity Bar][trinity] in Surry Hills, Sydney.

      [See our wiki for information][roro] on upcoming meetings. Please put your name down if you'd like to give a talk.

      Everyone welcome! We'd love to see you there.

      [roro]: https://github.com/rails-oceania/roro/wiki/rorosyd-topics
      [trinity]: http://maps.google.com.au/maps/place?cid=12629933912907935072

  %article
    %h4 Organisers
    %p Steven Ringo (<a href="http://twitter.com/stevenringo">@stevenringo</a>) and Keith Pitty (<a href="http://twitter.com/keithpitty">@keithpitty</a>).
